<p id="notice"><%= notice %></p>


<div class="main-container mx-5 mt-5">

  
  <div class="row">

    <%# profile column %>
    <div class="col-sm-2 d-flex justify-content-start align-items-center flex-column">

      <% if @user.profile_pic.attached? %>
        <%= image_tag @user.profile_pic, :style => "border: 5px solid #9B6A6C; border-radius: 50%;", width: 300, height: "auto" %>
      <% end %>
      <h5 style="text-align: center; color: #93a8ac; margin-top: 10px;">@<%=@user.username%></h5>

      <h3 class="mt-3">
        <%= @user.firstname.capitalize %> <%= @user.lastname.capitalize %> 
        <%= link_to edit_user_registration_path(current_user) do %>
          <i class="fas fa-user-edit"></i>
        <% end %>
      </h3> 

      <%# box for user stats %>
      <ul class="list-group list-group-vertical mt-2">
        <li class="list-group-item">Total posts: <%= Post.where(user_id: current_user.id).size %></li>
        <li class="list-group-item">Favourited: </li>
        <li class="list-group-item">Joined: <%= current_user.created_at.strftime("%d-%m-%Y") %></li>
      </ul>

    </div>


    <%# POSTS column %>
    <div class="col-sm-3 mt-5 d-flex justify-content-end">
      <p class="oneAlphabet" style="font-size: 75px;">POSTS: </p>
    </div>

    <%# posts column %>
    <div class="col-sm-6 mt-5">
      <div class="posts-container" style="display: grid; grid-template-columns: repeat(6, 1fr);">

        <% Post.where(user_id: current_user.id).each do |post| %>
          <div class="card mx-1 my-1" style="width: 10rem;">
            <div class="card-body">
              <h5 class="card-title"><%= link_to post.word.upcase, post_path(post) %></h5>
              <p class="card-text"><%= post.description %></p>
            </div>
          </div>
        <% end %>

        <div class="card mx-1 my-1" style="width: 10rem;">
            <div class="card-body d-flex align-items-center justify-content-center">
              <h1 class="card-text text-center">
                <%= link_to new_post_path do %> 
                  <i class="fas fa-plus new-post-icon"></i>
                <% end %>
              </h1>
            </div>
        </div>

      </div>
    </div>



  </div>
</div>

