<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :word %>
    <%= form.text_area :word %>
  </div>

  <div class="field">
    <%= form.label :meaning %>
    <%= form.text_area :meaning %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :example %>
    <%= form.text_area :example %>
  </div>

  <div class=“field”>
<%= form.label :pronunciation %> 
<%= form.file_field :pronunciation %> 
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
