<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div class="row mt-5">
  <div class="col-sm-3 addNewWord">
    <u>add <br> a new <br> word</u>
  </div>

  <div class="col-sm-7">
    <div class=“perField”>
      <%= form.label :word %>
      <%= form.text_area :word %>
    </div>

    <div class="perField">
      <%= form.label :meaning %>
      <%= form.text_area :meaning %>
    </div>

    <div class="perField">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>

    <div class="perField">
      <%= form.label :example %>
      <%= form.text_area :example %>
    </div>

    <div class=“perField”>
      <%= form.label :pronunciation %> 
      <%= form.file_field :pronunciation %> 
    </div>

    <div>
        <%= collection_check_boxes(:post, :tag_ids, Tag.all, :id, :name) %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
</div>
<% end %>
