<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @post.word %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Example:</strong>
  <%= @post.example %>
</p>

<p> By: <%= @post.user.username %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
