<p id="notice"><%= notice %></p>


<div class="container-fluid">

  <div class="row">

    <div class="col-3 addNewWord">
      <p><u><%= @post.word %></u></p>
      
      
          <%# if user_signed_in? %>
            <%#= form_for @post, url: new_favourite_word_path(@post.id) do |f| %>
              <%#= f.submit "favourite this word", class: "btn btn-primary" %>
            <%# end %>
          <%# end %>
      

      <br> <% if @post.user.id == current_user.id %>
            <p class="commentFont"> <%= link_to 'Edit', edit_post_path(@post) %> </p>
          <% end %>
    </div>


      <%# main text container %>
      <div class="col-8 mt-4"> 
      
        <%# means %>
        <div class="row mb-3">
          <div class="col-3 perFieldFont">
            <p>means:</p>
          </div>

          <div class="col-9">
            <%= @post.description %>
          </div>
        </div>
    
        <%# pronunciation %>
        <div class="row mb-3">
          <div class="col-3 perFieldFont">
              <p>pronunciation: </p>
          </div>
          <div class="col-9">
            <% if @post.pronunciation.attached? %>
                  <%=audio_tag (url_for(@post.pronunciation)), controls:"play" %>
                <% end %>
          </div>

        </div>

        <%# example %>
        <div class="row mb-3">
          <div class="col-3 perFieldFont">
            <p>used in sentence:</p>
          </div>
          
          <div class="col-9">
            <%= @post.example %>
          </div>
        </div>

        <%# tags %>
        <div class="row mb-3">
          <div class="col-3 perFieldFont">
          <p>tags:</p>
          </div>

          <div class="col-9">
            <p><% @post.tags.each do |tag| %>
                <td><%= link_to tag.name, tag_path(tag) %></td>
              <% end %> 
            </p>
          </div>
        </div>

        <%# tags %>
        <div class="row mb-3">
          <div class="col-3 perFieldFont">
          <p>contributed by:</p>
          </div>

          <div class="col-9">
            <p><%= link_to @post.user.username, user_path(@post.user.id) %>
            </p>
          </div>
        </div>
          
        <%# comment %>
        <div class="row mb-3">
          <div class="col-12">         
            <p class="perFieldFont">comments: </p>

            <% @post.comments.each do |comment| %>                            

              <div class="media text-muted pt-3 w-100">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray w-75">

                  <% if user_signed_in? %>
                    <% if current_user.profile_pic.attached? %>
                      <%= image_tag (comment.user.profile_pic), :style => "border: 3px solid #9B6A6C; border-radius: 50%;", width: 50, height: "auto" %>
                    <% end %>
                  <% end %> 
                  
                    
                  <strong class="d-block text-gray-dark mb-3"><%= comment.user.username %> @ <%= comment.created_at.strftime("%d %b %Y, %I:%M%p") %></strong>
                  <%= comment.comments %>
                </p>
              </div>
            <% end %>

              <div class="container pb-cmnt-container mt-3">
                <div class="row">
                  <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-info">
                      <div class="panel-body">
                      <% if current_user %>
                        <%= form_for [@post, @comment], html: {class: ""} do |f| %>
                              
                        <%= f.text_area :comments, placeholder:"Write your comment here!", class: "form-control" %>
                              
                        <%= f.submit "Comment", class: "btn btn-sm btn-primary mt-2 mb-5" %>
                              
                        <% end %>
                      </div>
                      <% end %>
                        
                    </div>
                  </div>
                </div>
              </div>

          </div>
        </div>
          
      </div>

  </div>
</div>
