<p id="notice"><%= notice %></p>


<div class="container-fluid">

  <div class="row">

    <div class="col-3 addNewWord">
      <p><u><%= @post.word %></u></p>
      <br><p class="commentFont"> By: <%= link_to @post.user.username, user_path(@post.user.id) %></p> 
      
      <br><%= form_for @post, url: new_favourite_word_path(@post.id) do |f| %>
          <%= f.submit "favourite this word", class: "btn btn-primary" %>
          <% end %>

      <br> <% if current_user %>
            <p class="commentFont"> <%= link_to 'Edit', edit_post_path(@post) %> </p>
          <% end %>
    </div>

      <div class="col-8 mt-4"> 
      
        <%# means %>
        <div class="row">
          <div class="col-3 perFieldFont">
            <p>means:</p>
          </div>

          <div class="col-9">
            <%= @post.meaning %>
          </div>
        </div>
    
        <%# pronunciation %>
        <div class="row">
          <div class="col-3 perFieldFont">
            <p>sound:
              <% if @post.pronunciation.attached? %>
                <%=audio_tag (url_for(@post.pronunciation)),controls:"" %>
              <% end %>
            </p>
          </div>
          
          <%# to add spacing %>
          <div class="col-9">

          </div>
        </div>

        <%# description, hide title, display description %>
        <div class="row">
          <div class="col-3 perFieldFont">

          </div>

          <div class="col-9">
            <%= @post.description %>
          </div>
        </div>

        <%# example %>
        <div class="row">
          <div class="col-3 perFieldFont">
            <p>used in sentence:</p>
          </div>
          
          <div class="col-9">
            <%= @post.example %>
          </div>
        </div>

        <%# tags %>
        <div class="row">
          <div class="col-3 perFieldFont">
          <p>Tags:</p>
          </div>

          <div class="col-9">
            <p><% @post.tags.each do |tag| %>
                <td><%= link_to tag.name, tag_path(tag) %></td>
              <% end %> 
            </p>
          </div>
        </div>
          
        <%# comment %>
        <div class="row">
          <div class="col-12">         
            <p class="commentFont">Comments</p>

            <% @post.comments.each do |comment| %>                            

              <div class="media text-muted pt-3 w-100">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray w-75">

                  <% if user_signed_in? %>
                    <% if current_user.profile_pic.attached? %>
                      <%= image_tag (comment.user.profile_pic), :style => "border: 2px solid black", width: 50, height: "auto" %>
                    <% end %>
                  <% end %> 
                  
                    
                  <strong class="d-block text-gray-dark"><%= comment.user.username %> @ <%= comment.created_at.in_time_zone('Singapore') %></strong>
                  <%= comment.comments %>
                </p>
              </div>
            <% end %>

              <div class="container pb-cmnt-container mt-3">
                <div class="row">
                  <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-info">
                      <div class="panel-body">
                      <% if current_user %>
                        <%= form_for [@post, @comment], html: {class: ""} do |f| %>
                              
                        <%= f.text_area :comments, placeholder:"Write your comment here!", class: "form-control" %>
                              
                        <%= f.submit "Comment", class: "btn btn-sm btn-primary mt-2 mb-5" %>
                              
                        <% end %>
                      </div>
                      <% end %>
                        
                    </div>
                  </div>
                </div>
              </div>

          </div>
        </div>
          
      </div>

  </div>
</div>
