<!DOCTYPE html>
<html>
  <head>
    <title>Singlish</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'style.css' %>    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,700;1,800&display=swap" rel="stylesheet">

  </head>

  <body>

    <% if notice %>
    <p class="alert alert-success notice mb-0"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger mb-0"><%= alert %></p>
    <% end %>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      
      <%= link_to "Singlish", categories_path, class: "navbar-brand text-light" %>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <% if user_signed_in? %>
            
            <%= link_to current_user.username, user_path(current_user.id), class: "nav-link ml-auto text-light" %>
            <%= image_tag (current_user.profile_pic), :style => "border: 2px solid black", width: 40, height: "auto" %>
          <% end %> 
      </div>
          <ul class="nav justify-content-end">
          <% if user_signed_in? %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"nav-link text-light" %>
          <% end %> 
          </ul>
    </nav>

    <%= yield %>
  </body>
</html>
